<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= destination %></title>
    <!--Link to bootstrap 5-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Welcome to Destination Wishlist!</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">About Us</a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contact-us-form">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../console/index.html">Blogger Console</a>
              </li>
            </ul>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main>
      
      <div class="detailPageRow">
        <img src="<%= image %>" alt="<%= destination %>">
          <div class="text-center">
            <button type="button" class="btn btn-primary"><%= destination %></button>
          </div>
          <br>
          <div class="text-center">
            <button type="button" class="btn btn-primary"><%= location %></button>
          </div>
          <p class="description"><%= description %></p>
        

         <div class="d-flex justify-content-center" >
          <form action="/action_page.php">
          <textarea class="text-center"   
          id="textArea" name="textArea" rows="5" cols="75" placeholder="Description"></textarea>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>


      <!--google map divx-->
        <div class="text-center">

            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
            </div>

        </div>
       
        
      </div>

      <div class="modal fade" tabindex="-1" id="contact-us-form">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Contact Us</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form target="_blank" action="https://formsubmit.co/destinationwishlistsite@gmail.com" method="POST">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <input type="text" name="name" class="form-control" placeholder="Full Name" required>
                    </div>
                    <div class="col">
                      <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
              </form>
            </div>
          </div>
        </div>
      </div>
        
      <footer id="footer">

        <h3 class="copyright"> &copy; <em id="date"></em>Copyright</h3>
        <h3 class="contactUsButton"><button id="bottomOfPageButton" data-bs-toggle="modal" data-bs-target="#contact-us-form">Contact us</button></h3>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
